body {
  margin: 0;
  background-color: rgb(250, 250, 250);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template: ". main" auto / 18.75rem 1fr;
}

/* NAVBAR STYLES START */
#navbar {
  border-right: 0.1875rem solid rgb(158, 158, 158);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 18.75rem;
}
h1,
.main-section-header {
  font-weight: lighter;
  font-size: 1.7rem;
}
h1 {
  margin-top: 0.9rem;
  padding-left: 1.5rem;
}
.nav-link {
  text-decoration: none;
  color: rgb(71, 71, 71);
  border-top: 0.0625rem solid rgb(71, 71, 71);
  padding: 0.8rem 1.5rem;
}
/* NAVBAR STYLES END */

/* MAIN STYLES START */
#main-doc {
  grid-area: main;
  margin-left: 2.1rem;
  margin-bottom: 1.5rem;
}
.main-section p,
.main-section li {
  color: rgb(71, 71, 71);
  line-height: 1.5rem;
  font-size: 0.95rem;
}
.main-section p {
  margin-left: 0.85rem;
}
.main-section li {
  margin: 1rem 0 0 2.1rem;
}
.main-section li li {
  list-style-type: circle;
  margin-top: 1rem;
  margin-left: 1.1rem;
}
.one-line,
.many-lines {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  line-height: 2rem;
  margin: 1.4rem;
  padding: 1rem;
}
.many-lines {
  line-height: 1.5rem;
}
/* MAIN STYLES END */

@media screen and (max-width: 61.25rem) {
  body {
    grid-template:
      "." 17.1875rem
      "main" auto / minmax(12.5rem, 1fr);
  }
  #navbar {
    border-right: initial;
    position: initial;
    height: 275px;
    width: 100%;
    overflow: scroll;
    border-bottom: 0.1875rem solid rgb(158, 158, 158);
  }
  h1 {
    padding-left: initial;
    text-align: center;
  }
  .many-lines {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: keep-all;
  }
}
